.audioplayer {
  --primary: teal;
  --secondary: black;

  align-items: center;
  display: flex;
  width: 700px;
}

.forwardbackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.forwardbackward:hover {
  color: var(--primary);
}

.playpause {
  background: teal;
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  color: var(--secondary);
  justify-content: center;
  align-items: center;

  .play {
    position: relative;
    left: 5px;
  }
}

.currenttime, .duration {
  font-family: monospace;
  font-size: 10px;
}

.currenttime {
  margin-left: 25px;
}

.progressbar {
  --bar-bg: teal;
  --seek-before-width: 100px;
  --seek-before-color: darkblue;
  --knobby: blue;
  --selectedKnobby: turquoise;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  width: 100%;
  height: 11px;
}

// safari
.progressbar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  width: 100%;
  height: 11px;
}

// firefox
.progressbar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  width: 100%;
  height: 11px;
}

.progressbar::-moz-focus-outer {
  border: 0;
}

.progressbar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  position: absolutely;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressbar::-moz-range-progress {
  background-color: var(--seek-before-color);
  height: 11px;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}
