.footer {
  * {
    color: white;
    margin: 0 60px;
  }

  margin-top: 100px;
  padding: 50px;
  background: black;
  display: flex;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .trp {
    font-size: 1.5em;
    font-style: italic;
  }

}

@media (width <= 800px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
    justify-content: left;
  }
}
