.nav {
  padding: 10px;
  background: rgba(26, 41, 108);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  h2 {
    font-size: 2em;
    margin: 0 60px;
    color: white;
  }


  img {
    width: 150px;
  }

  ul {
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
      display: inline-block;
      padding: 0 3%;

      a {
        color: white;
      }
    }
  }
}



@media (width <= 800px) {
  .nav {
    img {
      width: 100;
    }

    h2 {
      margin: 10px;
    }

    ul {
      li {
        // margin: 0 10px;
      }
    }
  }
}
