.listenon {
  display: flex;
  flex-wrap: wrap;

  img {
    border-radius: 8px;
    transition: all 0.3s ease-in-out; 
  }

  img:hover {
    transform: translateY(-2.4px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  }
}
